/* Estilos */


/* Titulo principal, debe ser en mayuscula y centrado LISTO*/


/* Cambiar el estilo de la lista, que se alfabetico. (a, b, c, d....)  LISTO*/


/* Los titulos secondarios, que el tamaño de la tipografia sea 40px con estilo italiano LISTO*/


/* Buscar dentro de cada parrafo todas las palabras Quijote y resaltar con un color anaranjando y raya abajo de la palabra LISTO */


/* Implementar a todos los parrafos la tipografia tipo arial y si la computadora no la tiene que carge una tipografia sin serifa LISTO*/


/* La primera letra de cada parrafo que sea en mayuscula, negrita y con un tamaño de 25px  LISTO*/


/* La primer linea de cada parrafo, implementar una sangria(espacio hacia dentro) LISTO*/

/* Justificar todos los textos de los parrafos LISTO*/

/* Los botones de cada capitulo que dicen ver capitulo completo, que sean:  
    _ Remover la linea que muestra debajo del texto.
    _ De color #555555. 
    _ Con un tamaño de 20px. 
    _ Con borde negro.
    _ Color de texto que sea blanco.
    _ Ancho de 200px.
    _ Texto centrado.
    _ Espaciado entre cada letra de 2px.

    Implementar que al pasar el mouse por encima invierta los colores:
    _ Texto en #555555.
    _ Color de fondo blanco.

LISTO
*/
h1{
    text-align: center;
    text-transform: uppercase;
}
ul{
    list-style:lower-latin;
}
h2{
    font-size: 40px;
    font-style: italic;
}
p{
    font-family: arial, sans-serif;
    text-indent: 4em;
    text-align: justify;
}
p::first-letter{
    text-transform: uppercase;
    font-size: 25px;
    font-style: bold;
}
span{
    color:orange;
    text-decoration:underline;
}
a{
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: #555555;
    background-size: 20px;
    border: 2px solid black;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}
a:hover {
    color: #555555;
    background-color: white;
}
